/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
font-family: 'Heebo', sans-serif;
  background:black;
  background-size: cover;
  color: #fefefe;
}

img{
  width: 100%;
  max-width: 100%;
}

.home h3{
  padding-top:40px;
  font-size: 35px;
  font-weight: bolder;
}

.home ul{
  list-style-type: none;
}

.home li{
  display: inline-block;
}

.navigation {
  padding-top: 43px;
  font-size: 18px;
  text-align: right;
}

.navigation li{ 
  margin-left: 40px;
}

.category1 {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category1 li{
  margin-left: -35px;
}

.category2 {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category2 li{
  margin-left: -40px;
}

.category3 {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category3 li {
margin-left: -45px;  
}

.content {
  padding-bottom: 40px;
}

.photography{
  background:black;
  background-size: cover;
}

.photography  h4{
  color:#E2C1EA;
  padding-top:35px;
  font-size: 25px;
  font-weight: bolder;
}

.photography h3{
  color: #fefefe;
  padding-top:40px;
  font-size: 35px;
  font-weight: bolder;
}

.photography p{
  padding-top: 25px;
  color: #fefefe;
  font-size: 18px;
}

.photography li{
  display: inline-block;
}

.photography ul{
  list-style-type: none;
  color: #fefefe;

}

.category1p {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category1p li{
  margin-left: -35px;
}

.category2p {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category2p li{
  margin-left: -35px;
}

.art{
  background: black;
  background-size: cover;
}

.art  h4{
  color: #E2C1EA;
  padding-top:35px;
  font-size: 25px;
  font-weight: bolder;
}

.art h3{
  color: #fefefe;
  padding-top:40px;
  font-size: 35px;
  font-weight: bolder;
}

.art p{
  padding-top: 25px;
  color: #fefefe;
  font-size: 18px;
}

.art li{
  display: inline-block;
}

.art ul{
  list-style-type: none;
  color: #fefefe;

}

.category1a {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category1a li{
  margin-left: -35px;
}

.category2a {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category2a li{
  margin-left: -35px;
}

.category3a {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category3a li{
  margin-left: -35px;
}

.category4a {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category4a li{
  margin-left: -35px;
}

.about h3{
  color: #fefefe;
  padding-top:40px;
  font-size: 35px;
  font-weight: bolder;
}

.about  h4{
  color: #E2C1EA;
  padding-top:35px;
  font-size: 25px;
  font-weight: bolder;
}

.about ul{
  list-style-type: none;
  color: #fefefe;
}

.about li{
  display: inline-block;
}

.about p{
  padding-top: 25px;
  color: black;
  font-size: 18px;
  color: #fefefe;
}


.design h3{
  padding-top:40px;
  font-size: 35px;
  font-weight: bolder;
}

.design  h4{
  color: #E2C1EA;
  padding-top:35px;
  font-size: 25px;
  font-weight: bolder;
}

.design ul{
  list-style-type: none;
}

.design li{
  display: inline-block;
}

.design p{
  padding-top: 25px;
  color: #fefefe;
  font-size: 18px;
}

.category1d {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category1d li{
  margin-left: -35px;
}

.category2d {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category2d li{
  margin-left: -35px;
}

.category3d {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category3d li{
  margin-left: -35px;
}

.category4d {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category4d li{
  margin-left: -35px;
}

.category5d {
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.category5d li{
  margin-left: -35px;
}


.aphoto h3{
  padding-top:40px;
  font-size: 35px;
  font-weight: bolder;
}

.aphoto  h4{
  color: #fefefe;
  padding-top:35px;
  font-size: 25px;
  font-weight: bolder;
}

.aphoto ul{
  list-style-type: none;
}

.aphoto li{
  display: inline-block;
}

 
.dphoto h3{
  padding-top:40px;
  font-size: 35px;
  font-weight: bolder;
}

.dphoto  h4{
  color: #fefefe;
  padding-top:35px;
  font-size: 25px;
  font-weight: bolder;
}

.dphoto ul{
  list-style-type: none;
}

.dphoto li{
  display: inline-block;
}

.color p{
  padding-top: 25px;
  color: #fefefe;
  font-size: 18px;
}

.color h3{
  padding-top:40px;
  font-size: 35px;
  font-weight: bolder;
}

.color  h4{
  color: #fefefe;
  padding-top:35px;
  font-size: 25px;
  font-weight: bolder;
}

.color ul{
  list-style-type: none;
}

.color li{
  display: inline-block;
}

.color p{
  padding-top: 25px;
  color: #fefefe;
  font-size: 18px;
}


.color p{
  padding-top: 25px;
  color: #fefefe;
  font-size: 18px;
}

.drawings h3{
  padding-top:40px;
  font-size: 35px;
  font-weight: bolder;
}

.drawings  h4{
  color: #fefefe;
  padding-top:35px;
  font-size: 25px;
  font-weight: bolder;
}

.drawings ul{
  list-style-type: none;
}

.drawings li{
  display: inline-block;
}

.drawings p{
  padding-top: 25px;
  color: #fefefe;
  font-size: 18px;
}

.paintings h3{
  padding-top:40px;
  font-size: 35px;
  font-weight: bolder;
}

.paintings  h4{
  color: #fefefe;
  padding-top:35px;
  font-size: 25px;
  font-weight: bolder;
}

.paintings ul{
  list-style-type: none;
}

.paintings li{
  display: inline-block;
}

.paintings p{
  padding-top: 25px;
  color: #fefefe;
  font-size: 18px;
}

.calligraphy h3{
  padding-top:40px;
  font-size: 35px;
  font-weight: bolder;
}

.calligraphy  h4{
  color: #fefefe;
  padding-top:35px;
  font-size: 25px;
  font-weight: bolder;
}

.calligraphy ul{
  list-style-type: none;
}

.calligraphy li{
  display: inline-block;
}

.calligraphy p{
  padding-top: 25px;
  color: #fefefe;
  font-size: 18px;
}


a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color:#E2C1EA;
  text-decoration: none;
  transition: .3s ease;
}


.activelink{
  color: #E2C1EA;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

